PORT=8000
MONGODB_URI= mongodb+srv://hardiksigdel361_db_user:<db_password>@cluster0.sv5m70a.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOEN_EXPIRY=1d
REFRESH_TOEN_SECRET=Chai_code
REFRESH_TOEN_EXPIRY=10d